<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt8SCmqRGnCDUUIVd4S29CFBWPXE_DfdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>157449206575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitTrack</string>
	<key>PROJECT_ID</key>
	<string>fittrack-426eb</string>
	<key>STORAGE_BUCKET</key>
	<string>fittrack-426eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157449206575:ios:f4675a4dfe06a48da53fda</string>
</dict>
</plist>